<nav class="navbar">
    <div class="logo">MyApp</div>
    <ul class="nav-links">
        <li><a href="/dashboard" class="nav-link" id="home">Home</a></li>
        <li><a href="/my-posts" class="nav-link" id="myposts">My Posts</a></li>
        <li><a href="/new-post" class="nav-link" id="newpost">New Post</a></li>
        <li><a href="/profile" class="nav-link" id="profile">Profile</a></li>
    </ul>
    <div class="auth-button">
        <button id="auth-btn"></button>
    </div>
</nav>